//--------------------------------
// CONTACT PAGE
//--------------------------------
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.contact {
  @include pageHero;
  min-height: 70vh !important;
  padding-bottom: 70px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  .bi {
    font-size: 2rem;
  }

  .wpcf7 form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    p {
      margin: 0 !important;
      box-sizing: border-box;
      label {
        font-weight: 500;
        span {
          width: 100%;
          position: relative;
          display: inline-flex;
        }
      }
      input:not([type="submit"]) {
        height: 37px;
        min-width: 100%;
        border: 0;
        border-bottom: 1px solid $color-light-grey;
        &::placeholder {
          font-size: 0.875rem;
          font-family: $font-family-base !important;
        }
        &:focus {
          outline: none;
          outline: 0;
        }
      }
      textarea {
        min-width: 100%;
        height: 150px !important;
        border: 1px solid $color-light-grey;
        border-radius: 10px;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        &::placeholder {
          font-size: 0.875rem;
          font-family: $font-family-base !important;
        }
        &:focus {
          outline: none;
          outline: 0;
        }
      }

      input[type="submit"] {
        min-width: fit-content;
        width: 263px;
        min-height: 60px;
        border-radius: 30px;
        border: 0;
        margin: 0 auto;
        background-color: $color-primary;
        color: $color-white;
        font-size: 1.5rem;
        transition: background-color 0.35s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: $color-secondary;
        }
      }

      input,
      textarea {
        &.wpcf7-not-valid {
          border-color: red;
        }
      }
    }

    .wpcf7-response-output {
      display: 0;
    }
    .wpcf7-not-valid-tip {
      font-size: 0.875rem;
      display: none;
    }
    &.invalid {
      input,
      textarea {
        border: 1ps solid red !important;
      }
    }
  }
}
